%h1 This is a wiki

- @articles.each do |article|
  %h2= article.title
  %p= truncate(article.content, length:200)
  %p
    Published at
    = article.created_at.strftime('%b %d, %Y')

= link_to "New article", new_article_path
